[
  {
    "Type": "pprof",
    "Label": "webapp",
    "URL": "http://{{ webapp_private_ip }}:8080/debug/pprof/profile",
    "Duration": 60
  },
  {
    "Type": "httplog",
    "Label": "nginx",
    "URL": "http://{{ nginx_private_ip }}:8080/debug/log/httplog",
    "Duration": 60
  },
  {
    "Type": "slowlog",
    "Label": "mysql",
    "URL": "http://{{ mysql_private_ip }}:19000/debug/log/slowlog",
    "Duration": 60
  }
]