[Unit]
Description=ansible frontend service

[Service]
ExecStart=/home/isucon/ansible_frontend/ansible_frontend
WorkingDirectory=/home/isucon
Environment=PATH=$PATH:/usr/bin
Restart=always
User=isucon

[Install]
WantedBy=multi-user.target