# NetData Configuration

# The current full configuration can be retrieved from the running
# server at the URL
#
#   http://localhost:19999/netdata.conf
#
# for example:
#
#   wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
#

[global]
        # Pin the reported hostname to the ansible inventory name (e.g. s1,
        # s2) so it stays stable and predictable when this host's metrics
        # are queried through the netdata parent on the pprotein host.
        hostname = {{ inventory_hostname }}
        run as user = netdata
        web files owner = root
        web files group = root
        # Netdata is not designed to be exposed to potentially hostile
        # networks. See https://github.com/netdata/netdata/issues/164
        # bind socket to IP = 127.0.0.1
        bind socket to IP = 0.0.0.0
